/*
 * Local CSS Overrides
 */

/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */
@import url(http://fonts.googleapis.com/css?family=Oswald);

/*
 * Sidebar
 */

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Oswald", serif;
  font-size: 1.75rem;
}


/*
 * New global styles
 */

/* Float (images) to the left */
.justify_left {
  float: left;
  margin: 1rem 1rem 0 0;
}

/* Float (images) to the right */
.justify_right {
  float: right;
  margin: 1rem 0 0 1rem;
}

/* Theme colors */

/* Deep Brown */
.theme-base-07 .sidebar {
  background-color: #362C20;
}
.theme-base-07 .content a,
.theme-base-07 .related-posts li a:hover {
  color: #fc0;
}
body.theme-base-07 {
  background-color: #796F6F;
}
.theme-base-07 .content {
  color: white;
}
